                    

                            <a href="#" class="logo">SECOP II VISUAL</a>

                                <button href="/posts.html" class="btn primary">Blog</button>
                                <button  href="/sobremi.html" class="btn primary">Sobre Mi</button >
                                <button  href="/portafolio.html" class="btn primary" >Portafolio</button >
                                <button  href="/galeria.html" class="btn primary" >Galería</button >
                                <button  href="/contacto.html" class="btn primary">Contacto</button >


