<div hx-get="/html/index_info" hx-trigger="load" hx-swap="innerHTML" class="card card-xlarge"></div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Archi Engineer</p>
  </div>
</div>


<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Johe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architecteer</p>
  </div>
</div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Archineer</p>
  </div>
</div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Archineer</p>
  </div>
</div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Johe</b></h4>
    <p>Archit& Engineer</p>
  </div>
</div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Archit Engineer</p>
  </div>
</div>

<div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div><div class="card">
  <img src="static/img/marker-icon.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>